.itemku-redirect-btn {
  display: flex !important;
  align-items: center !important;
  border-radius: 8px !important;
  padding: 8px !important;
  gap: 12px !important;
  cursor: pointer !important;
  transition: all 0.2s ease !important;
}

.itemku-redirect-btn:hover {
  background: rgba(0, 0, 0, 0.03) !important;
}
